# Ignorar dependencias
node_modules/
backend/vendor/

# Ignorar archivos de configuración sensible
.env
backend/.env
docker/.env.app
docker/database/.env.database

# Ignorar compilaciones y temporales
frontend/dist/
storage/*.key
.DS_Store
repomix-output.*