# Ignorar dependencias
node_modules/
backend/vendor/

# Ignorar archivos de configuración sensible
.env*
!.env.example

# Ignorar compilaciones y temporales
frontend/dist/
storage/*.key
.DS_Store
repomix-output.*

# MkDocs
site/
.venv/
__pycache__/

/produccion/.env